# gradle

.gradle/
build/
out/
classes/

# eclipse

.metadata/
bin/
*.launch

# IntelliJ

.idea/
*.iml

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# OS

.DS_Store
Thumbs.db

# macos

*.DS_Store

# fabric

run/
logs/
*.log

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
